[submodule "third_party/dpdk"]
	path = third_party/dpdk
	url = https://github.com/DPDK/dpdk.git
[submodule "third_party/etcd-cpp-apiv3"]
	path = third_party/etcd-cpp-apiv3
	url = https://github.com/etcd-cpp-apiv3/etcd-cpp-apiv3.git
